
body {
    background-image: url(../images/cincinnati.jpg);
    font-family:'Roboto Mono', monospace;
}

.backgroundimage {
    background-image: url(../images/stripes.jpeg);
}

.intropic {
    width:50%;float:right
}

.btn-primary{
    background-color:#773d04;border-color:#773d04
}
.text-primary{
    color:rgba(236, 234, 230, 0.877)!important;
}

.footer{
    background-color:rgba(0, 34, 6, 0.9)
}

#mainNav{
    background-color:rgba(0, 34, 6, 0.9);font-family:'Oswald', sans-serif;
}

.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(1, 63, 9, 0.5);
  }

  .site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family:'Roboto Mono', monospace;
    color:rgba(233, 233, 222, 0.877)!important;
  }
  
  .linksection-heading-upper{
      color:rgb(12, 11, 11);
  }

  .interestsite-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family:'Roboto Mono', monospace;
    color:rgba(12, 12, 11, 0.877)!important;
    font-size: 65pt;
  }

  .site-heading .site-heading-upper {
    display: block;
    font-size: 3rem;
    font-weight: 800;
  }

  .site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Courier New', Courier, monospace;
}

ol {
    font-size:x-large;
}

.resumelist {
    font-size: large
}

dl {
    font-size:medium;
}

dt {
    font-size:medium;
    font-weight: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
}
